body{
   background-image: url("../images/Background_Calm_River.jpg");
    font-family: 'Lobster', cursive;
    align-content: space-around;
    float: right;
    padding-top: 90px;
    
}
#wins,
#losses,
#guessesLeft,
#yourGuessSoFar
 {
    font-size: 24px;
    color:white;

}